nav {
    background-color: #fff34a !important;
}

.brand-logo{
    color: #232b2b !important;
}

.navlink {
    color: #232b2b
}

.board {
    width: 90%;
    margin: 0 auto;
}

.body {
    width: 100%;
    background-color: #3fb0ac;
}

footer {
    font-size: small;
    background-color: #dddfd4 !important;
}

footer span {
    color: #232b2b;
}

.aside {
    background-color: #173e43;
    height: 100%;
    width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.no-bottom-margin-row {
    margin-bottom:0px !important
}

.cardTitle {
    font-style: italic;
}

.cardBody {
    background-color: #D6EAEA !important;
}

.btn-primary {
    background-color: #99cc99 !important;
}