nav {
    background-color: #fff34a !important;
}

.brand-logo{
    color: #232b2b !important;
}

.navlink {
    color: #232b2b
}

.board {
    width: 90%;
    margin: 0 auto;
}

.body {
    background-color: #3fb0ac;
    width: 100%;
    height: 100%;
}

footer {
    font-size: small;
    background-color: #dddfd4 !important;
}

footer span {
    color: #232b2b;
}

.aside {
    background-color: #173e43;
    height: 100%;
    width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.no-bottom-margin-row {
    margin-bottom:0px !important
}

.cardTitle {
    font-style: italic;
}

.pCardBody {
    background-color: #D6EAEA !important;
}

.btn-primary {
    background-color: #66b3b3 !important;
}

.pClassCard {
    background-color: #99cccc;
    width: 100%;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    font-family: sans-serif
}

.materia {
    font-style: italic;
}

.titulo {
    font-size: large;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #dddfd4;
}

.page {
    height: 100%;
    width: 100%;
}

html {
    background-color: #173e43;
}